[Unit]
Description=Asynchronous file and directory removal service

[Service]
Type=oneshot
ExecStart=${INSTALL_ROOT}/bin/trash-daemon

[Install]
WantedBy=multi-user.target
